.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #2B2EAF;
}

#title {
  margin-bottom: 20px;
  height: 68px;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
  height: auto;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 100%;
}

#form * {
    font-size: large;
}

@media (max-width: 768px) {
  .logo {
    max-width: 100px;
  }

  #title {
    height: 50px;
  }

  #form {
    margin-left: 10%;
    margin-right: 10%;
  }
}
