<ion-header [translucent]="true">
  <div class="header">
    <ion-img src="../../assets/logo.png" class="logo"></ion-img>
    <ion-title class="title">{{"BALANCE_AND_ANALYSIS" | translate}}</ion-title>
    <ion-buttons slot="end" class="btn-logout">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        {{"LOGOUT" | translate}}
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>{{"GRAPHICS_SUB" | translate}}</ion-title>
  </ion-toolbar>

  <!-- Gráfico de Gastos por Categoría -->
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"EXPENSES_CHART" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <canvas baseChart
            [data]="gastoPorCategoriaChartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [type]="'doughnut'">
          </canvas>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Gráfico de Ingresos por Categoría -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"INCOMES_CHART" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <canvas baseChart
            [data]="ingresoPorCategoriaChartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [type]="'pie'">
          </canvas>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Gráfico de Comparación de Ingresos y Gastos -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"COMPARATION_CHART" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <canvas baseChart
            [data]="ingresoVsGastoChartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [type]="'bar'">
          </canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
