<ion-header [translucent]="true">
  <div class="header">
    <ion-img src="../../assets/logo.png" class="logo"></ion-img>
    <ion-buttons slot="end" class="btn-logout">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        {{"LOGOUT" | translate}}
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">idioma</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item class="container-idioma">
    <ion-label>{{"LANGUAGE" | translate}}</ion-label>
    <ion-select (ionChange)="cambiarIdioma($event.detail.value)">
      <ion-select-option value="es">Español</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
