.container-forms {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2B2EAF;
}

.logo {
  max-width: 80px;
  margin-left: 40px;
  height: auto;
}

.btn-logout {
  margin-right: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 100%;
}

.form-title {
  margin-bottom: 20px;
}

.btn-editar {
    display: none;
}

@media (max-width:768px) {
  .container-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 70%;
    height: 100%;
  }
}