<ion-header [translucent]="true">
  <div class="header">
    <ion-img src="../../assets/logo.png" class="logo"></ion-img>
    <ion-buttons slot="end" class="btn-logout">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        {{"LOGOUT" | translate}}
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">UniBudget</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-card class="card" (click)="goToTransacciones()">
      <ion-img src="../../assets/home/transaction.png" class="card-image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"ADD_TRANSACTION" | translate}}</ion-card-title>
        <ion-card-subtitle>{{"TRANSACTION_DESC" | translate}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="card" (click)="goToPresupuestos()">
      <ion-img src="../../assets/home/budget.png" class="card-image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"CREATE_BUDGET" | translate}}</ion-card-title>
        <ion-card-subtitle>{{"BUDGET_DESC" | translate}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="card" (click)="goToCategorias()">
      <ion-img src="../../assets/home/category.png" class="card-image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"CREATE_CATEGORY" | translate}}</ion-card-title>
        <ion-card-subtitle>{{"CATEGORY_DESC" | translate}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="card" (click)="goToAnalisis()">
      <ion-img src="../../assets/home/analysis.png" class="card-image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"BALANCE_AND_ANALYSIS" | translate}}</ion-card-title>
        <ion-card-subtitle>{{"ANALYSIS_DESC" | translate}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="card" (click)="goToIdioma()">
      <ion-img src="../../assets/home/idioma.png" class="card-image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"CHANGE_LANGUAGE" | translate}}</ion-card-title>
        <ion-card-subtitle>{{"LANGUAGE_DESC" | translate}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
