.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2B2EAF;
}

.logo {
  max-width: 80px;
  margin-left: 40px;
  height: auto;
}

.btn-logout {
  margin-right: 40px;
}

.card {
  width: 70%;
  max-width: 500px;
}

.card:hover {
  cursor: pointer;
  background-color: #2B2EAF;
  border-width: 5px;
  transition: ease-in-out 0.5s;
}

.card-image {
  width: 80px;
  margin-left: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .logo {
    max-width: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

}
